<p-card>
  <p-toast></p-toast>
  <p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

  <button
    type="button"
    pButton
    label="Cadastrar Prescrição"
    icon="pi pi-plus"
    (click)="onNewPrescription()"
  ></button>

  <p-table [value]="prescriptions">
    <ng-template pTemplate="header">
      <tr>
        <th>Número</th>
        <th>Nome do Paciente</th>
        <th>Doença</th>
        <th>Nome do Remédio</th>
        <th>Data da Consulta</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr *ngFor="let prescription of prescriptions">
        <td>{{ prescription.numero }}</td>
        <td>{{ prescription.nomePaciente }}</td>
        <td>{{ prescription.doenca.nome }}</td>
        <td>{{ prescription.nomeRemedio }}</td>
        <td>{{ prescription.dataConsulta | date }}</td>
        <td>{{ prescription.status }}</td>
        <td>
          <button
            type="button"
            pButton
            icon="pi pi-pencil"
            (click)="onEditPrescription(prescription)"
          ></button>
          <!-- <button type="button" pButton icon="pi pi-trash" (click)="confirmDelete(prescription.numero)"></button> -->
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    header="Cadastro de Prescrição"
    [(visible)]="displayModal"
    [modal]="true"
    [closable]="true"
  >
    <form [formGroup]="prescriptionForm" (ngSubmit)="onSavePrescription()">
      <div class="p-field">
        <label for="numero">Número da prescrição</label>
        <input id="numero" type="text" pInputText formControlName="numero" />
      </div>
      <p-dropdown
        [options]="pacients"
        formControlName="pacienteCpf"
        optionLabel="nome"
        optionValue="cpf"
        placeholder="Selecione um paciente"
      >
      </p-dropdown>
      <p-dropdown
        [options]="diseases"
        formControlName="doencaCid"
        optionLabel="nome"
        optionValue="cid"
        placeholder="Selecione uma doença"
      >
      </p-dropdown>
      <div class="p-field">
        <label for="nomeRemedio">Nome do Remédio</label>
        <input
          id="nomeRemedio"
          type="text"
          pInputText
          formControlName="nomeRemedio"
        />
      </div>
      <div class="p-field">
        <label for="dataConsulta">Data da Consulta</label>
        <input
          id="dataConsulta"
          type="date"
          pInputText
          formControlName="dataConsulta"
        />
      </div>
      <div class="p-field">
        <label for="status">Status</label>
        <input id="status" type="text" pInputText formControlName="status" />
      </div>
      <div class="p-field">
        <button type="submit" pButton label="Salvar"></button>
        <button
          type="button"
          pButton
          label="Cancelar"
          class="p-button-secondary"
          (click)="displayModal = false"
        ></button>
      </div>
    </form>
  </p-dialog>
  <p-dialog
    header="Editar Prescrição"
    [(visible)]="displayModalEdit"
    [modal]="true"
    [closable]="true"
  >
    <form [formGroup]="prescriptionForm" (ngSubmit)="onUpdatePrescription()">
      <div class="p-field">
        <label for="numero">Número da prescrição</label>
        <input id="numero" type="text" pInputText formControlName="numero" />
      </div>
      <p-dropdown
        [options]="pacients"
        formControlName="pacienteCpf"
        optionLabel="nome"
        optionValue="cpf"
        placeholder="Selecione um paciente"
      >
      </p-dropdown>
      <p-dropdown
        [options]="diseases"
        formControlName="doencaCid"
        optionLabel="nome"
        optionValue="cid"
        placeholder="Selecione uma doença"
      >
      </p-dropdown>
      <div class="p-field">
        <label for="nomeRemedio">Nome do Remédio</label>
        <input
          id="nomeRemedio"
          type="text"
          pInputText
          formControlName="nomeRemedio"
        />
      </div>
      <div class="p-field">
        <label for="dataConsulta">Data da Consulta</label>
        <input
          id="dataConsulta"
          type="date"
          pInputText
          formControlName="dataConsulta"
        />
      </div>
      <div class="p-field">
        <label for="status">Status</label>
        <input id="status" type="text" pInputText formControlName="status" />
      </div>
      <div class="p-field">
        <button type="submit" pButton label="Salvar"></button>
        <button
          type="button"
          pButton
          label="Cancelar"
          class="p-button-secondary"
          (click)="displayModal = false"
        ></button>
      </div>
    </form>
  </p-dialog>
</p-card>
