<p-card>
  <p-toast></p-toast>
  <p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

  <div class="busca">
    <div class="p-field">
      <label for="search">Buscar Prescrição por Paciente</label>
      <input id="search" type="text" pInputText placeholder="Digite o nome do Paciente" [(ngModel)]="searchTerm" />
    </div>

    <button
      type="button"
      pButton
      label="Cadastrar Prescrição"
      icon="pi pi-plus"
      (click)="onNewPrescription()"
    ></button>
  </div>

  <p-table *ngIf="prescriptions.length > 0" [value]="filteredPrescriptions()">
    <ng-template pTemplate="header">
      <tr>
        <th>Número</th>
        <th>Nome do Paciente</th>
        <th>Doença</th>
        <th>Nome do Remédio</th>
        <th>Data da Consulta</th>
      <th>Status</th>
      <th>Ação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-prescription>
      <tr>
        <td>{{ prescription.numero }}</td>
        <td>{{ prescription.nomePaciente }}</td>
        <td>{{ prescription.doenca.nome }}</td>
        <td>{{ prescription.nomeRemedio }}</td>
        <td>{{ prescription.dataConsulta | date: 'dd/MM/yyyy' }}</td>
        <td>{{ prescription.status }}</td>
        <td>
          <button pButton type="button" label="Visualizar" icon="pi pi-eye" (click)="viewPrescription(prescription)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p *ngIf="prescriptions.length === 0">Nenhuma prescrição encontrada</p>

  <p-dialog header="Detalhes da Prescrição" [(visible)]="displayModalRelatorio" [modal]="true" [closable]="true">
    <div *ngIf="selectedPrescription">
      <p><strong>Número:</strong> {{ selectedPrescription.numero }}</p>
      <p><strong>Paciente:</strong> {{ selectedPrescription.nomePaciente }}</p>
      <p><strong>Doença:</strong> {{ selectedPrescription.doenca.nome }}</p>
      <p><strong>Nome do Remédio:</strong> {{ selectedPrescription.nomeRemedio }}</p>
      <p><strong>Data da Consulta:</strong> {{ selectedPrescription.dataConsulta | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Data de Revisão:</strong> {{ selectedPrescription.dataRevisao | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Tratamento:</strong> {{ selectedPrescription.tratamento }}</p>
      <p><strong>Status:</strong> {{ selectedPrescription.status }}</p>
    </div>
  </p-dialog>

  <p-dialog
    header="Cadastro de Prescrição"
    [(visible)]="displayModal"
    [modal]="true"
    [closable]="true"
  >
    <form [formGroup]="prescriptionForm" (ngSubmit)="onSavePrescription()">
      <p-dropdown
        [options]="pacients"
        formControlName="pacienteCpf"
        optionLabel="nome"
        optionValue="cpf"
        placeholder="Selecione um paciente"
      >
      </p-dropdown>
      <p-dropdown
        [options]="diseases"
        formControlName="doencaCid"
        optionLabel="nome"
        optionValue="cid"
        placeholder="Selecione uma doença"
      >
      </p-dropdown>
      <div class="p-field">
        <label for="nomeRemedio">Nome do Remédio</label>
        <input
          id="nomeRemedio"
          type="text"
          pInputText
          formControlName="nomeRemedio"
        />
      </div>
      <div class="p-field">
        <label for="dataConsulta">Data da Consulta</label>
        <input
          id="dataConsulta"
          type="date"
          pInputText
          formControlName="dataConsulta"
        />
      </div>
      <div class="p-field">
        <label for="status">Status</label>
        <input id="status" type="text" pInputText formControlName="status" />
      </div>
      <div class="p-field">
        <button type="submit" pButton label="Salvar"></button>
        <button
          type="button"
          pButton
          label="Cancelar"
          class="p-button-secondary"
          (click)="displayModal = false"
        ></button>
      </div>
    </form>
  </p-dialog>
  <p-dialog
    header="Editar Prescrição"
    [(visible)]="displayModalEdit"
    [modal]="true"
    [closable]="true"
  >
    <form [formGroup]="prescriptionForm" (ngSubmit)="onUpdatePrescription()">
      <p-dropdown
        [options]="pacients"
        formControlName="pacienteCpf"
        optionLabel="nome"
        optionValue="cpf"
        placeholder="Selecione um paciente"
      >
      </p-dropdown>
      <p-dropdown
        [options]="diseases"
        formControlName="doencaCid"
        optionLabel="nome"
        optionValue="cid"
        placeholder="Selecione uma doença"
      >
      </p-dropdown>
      <div class="p-field">
        <label for="nomeRemedio">Nome do Remédio</label>
        <input
          id="nomeRemedio"
          type="text"
          pInputText
          formControlName="nomeRemedio"
        />
      </div>
      <div class="p-field">
        <label for="dataConsulta">Data da Consulta</label>
        <input
          id="dataConsulta"
          type="date"
          pInputText
          formControlName="dataConsulta"
        />
      </div>
      <div class="p-field">
        <label for="status">Status</label>
        <input id="status" type="text" pInputText formControlName="status" />
      </div>
      <div class="p-field">
        <button type="submit" pButton label="Salvar"></button>
        <button
          type="button"
          pButton
          label="Cancelar"
          class="p-button-secondary"
          (click)="displayModal = false"
        ></button>
      </div>
    </form>
  </p-dialog>
</p-card>
