// Container principal do card
p-card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .busca {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .p-field {
      width: 100%;
      max-width: 600px;
      margin-bottom: 1.5rem;

      label {
        font-weight: bold;
        margin-bottom: 0.5rem;
        display: block;
      }

      input {
        width: 100%;
        padding: 0.75rem;
      }
    }

    // Botão para cadastrar nova prescrição
    button {
      height: 32px;
    }
  }

  // Estilos para a tabela de prescrições
  p-table {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 2rem;

    th,
    td {
      padding: 0.75rem;
      text-align: left;
    }

    th {
      background-color: #f4f4f4;
      font-weight: bold;
    }

    td {
      border-bottom: 1px solid #ddd;
    }

    // Botão de ações na tabela
    button[pButton] {
      margin-right: 0.5rem;
    }
  }

  // Mensagem quando não há prescrições
  p {
    font-style: italic;
    color: #888;
    text-align: center;
  }

  // Estilos para os modais
  p-dialog {
    width: 500px;
    max-width: 90%;
    padding: 1.5rem;

    header {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;

      .p-field {
        margin-bottom: 1.5rem;

        label {
          font-weight: bold;
          margin-bottom: 0.5rem;
          display: block;
        }

        input,
        p-dropdown {
          width: 100%;
          padding: 0.75rem;
        }
      }

      button[pButton] {
        margin-top: 1rem;
      }
    }

    // Estilos específicos para os botões de fechar ou cancelar nos modais
    .p-button-secondary {
      background-color: #f4f4f4;
      color: #333;
    }
  }
}
